# ===========================
# Skill Kwonledge .gitignore
# ===========================

# ----------------------------
# OS & Editor
# ----------------------------
.DS_Store
Thumbs.db
*.swp
*~
.#*

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/
*.sublime-*

# ----------------------------
# Environment
# ----------------------------
.env
.env.local
*.env

# ----------------------------
# Debug & Logs
# ----------------------------
*.log
logs/
*.tmp

# ----------------------------
# Temporary
# ----------------------------
*.temp
temp/
tmp/

.obsidian